.DS_Store
node_modules/*
package-lock.json
package.json
alignment-wordless.json
demo-assets-config.json

dev-plan-vanila.md
progress.md
Claude.md
server.mjs

./assets/*
stemplayerv2.js
style-changes.md